.sidebar {
  background-color: lightblue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 85%;
  z-index: 2000;
}

.tab-active,
.tab-inactive {
  font-size: 1.2em;
  text-decoration: none;
}

.tab-active {
  color: darkmagenta;
}

.tab-inactive {
  color: black;
}

.hope-corner-sidenav {
  color: black;
  text-decoration: none;
}

